#Content
- Handling Null values
  - isna()
  - fillna()
  - dropna()
- Case study
- Date time

#Data Cleaning

It includes
- Changing the data type
- Handling the null values
- String formatting
- Handling outliers

## Handling null values

In [ ]:
import pandas as pd
import numpy as np

# Creating a sample dataframe
data = {
    'name': ['Alice', 'Bob', 'Charlie', np.nan, 'Eve', 'Grace', 'Hank', np.nan],
    'age': [24, 30, np.nan, 22, 25, np.nan, 28, 26],
    'gender': ['F', 'M', 'M', 'F', np.nan, 'F', 'M', 'F'],
    'sale_amount': [120.50, 250.75, 180.60, np.nan, 350.20, np.nan, 200.10, 400.00],
    'qty': [3, 5, 2, 1, np.nan, 6, 4, 7],
    'returned': ['No', 'Yes', 'No', 'Yes', 'No', np.nan, 'Yes', 'No']
}

df = pd.DataFrame(data)

# Display the sample dataframe
print(df)

      name   age gender  sale_amount  qty returned
0    Alice  24.0      F       120.50  3.0       No
1      Bob  30.0      M       250.75  5.0      Yes
2  Charlie   NaN      M       180.60  2.0       No
3      NaN  22.0      F          NaN  1.0      Yes
4      Eve  25.0    NaN       350.20  NaN       No
5    Grace   NaN      F          NaN  6.0      NaN
6     Hank  28.0      M       200.10  4.0      Yes
7      NaN  26.0      F       400.00  7.0       No

In [ ]:
df.head()

      name   age gender  sale_amount  qty returned
0    Alice  24.0      F       120.50  3.0       No
1      Bob  30.0      M       250.75  5.0      Yes
2  Charlie   NaN      M       180.60  2.0       No
3      NaN  22.0      F          NaN  1.0      Yes
4      Eve  25.0    NaN       350.20  NaN       No

- NaN - Not  a Number(Missing value)
- None  - None( Missing value)

In [ ]:
type(np.NaN)

float

##Finding the number of missing values

- isna() - returns the bool of missing values

In [ ]:
df['age'].isna()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
Name: age, dtype: bool

In [ ]:
df['age'].isna().sum()

2

In [ ]:
df.isna().sum()

name           2
age            2
gender         1
sale_amount    2
qty            1
returned       1
dtype: int64

In [ ]:
df.head()

      name   age gender  sale_amount  qty returned
0    Alice  24.0      F       120.50  3.0       No
1      Bob  30.0      M       250.75  5.0      Yes
2  Charlie   NaN      M       180.60  2.0       No
3      NaN  22.0      F          NaN  1.0      Yes
4      Eve  25.0    NaN       350.20  NaN       No

#Dropping the data
- dropna()

- Only if the null values are <3% you cn drop it (Depends upon the data).
- If it s a financial or healthcare data you cannot drop it

In [ ]:
df.shape

(8, 6)

In [ ]:
df_new=df

In [ ]:
df_new.head()

      name   age gender  sale_amount  qty returned
0    Alice  24.0      F       120.50  3.0       No
1      Bob  30.0      M       250.75  5.0      Yes
2  Charlie   NaN      M       180.60  2.0       No
3      NaN  22.0      F          NaN  1.0      Yes
4      Eve  25.0    NaN       350.20  NaN       No

In [ ]:
df_new.dropna(inplace=True)

In [ ]:
df_new.shape

(3, 6)

##Filling the null values
- fillna()

In [ ]:
df.head()

      name   age gender  sale_amount  qty returned
0    Alice  24.0      F       120.50  3.0       No
1      Bob  30.0      M       250.75  5.0      Yes
2  Charlie   NaN      M       180.60  2.0       No
3      NaN  22.0      F          NaN  1.0      Yes
4      Eve  25.0    NaN       350.20  NaN       No

In [ ]:
df['name'].fillna('Unknown',inplace= True) #Filled with Unknown`

<ipython-input-85-1ef5cad17eb3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].fillna('Unknown',inplace= True)

In [ ]:
df.isna().sum()

name           0
age            0
gender         0
sale_amount    0
qty            1
returned       1
dtype: int64

In [ ]:
avg_age= df['age'].median()
df['age'].fillna(avg_age,inplace=True)

<ipython-input-88-b1472be58544>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(avg_age,inplace=True)

In [ ]:
most_gender=df['gender'].mode()
most_gender

0    F
Name: gender, dtype: object

In [ ]:
df['gender'].fillna(most_gender[0],inplace=True)

In [ ]:
df['sale_amount'].fillna(df['sale_amount'].mean(),inplace=True)

<ipython-input-96-9738011afa1d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sale_amount'].fillna(df['sale_amount'].mean(),inplace=True)

In [ ]:
max_qty=df['qty'].max()
df['qty'].fillna(max_qty,inplace=True)

<ipython-input-102-1353d75ca07f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['qty'].fillna(max_qty,inplace=True)

In [ ]:
df.isna().sum()

name           0
age            0
gender         0
sale_amount    0
qty            0
returned       0
dtype: int64

In [ ]:
df.dropna(inplace=True) # Since filling it with wrong values can give wrong analysis we will drop it

# Case study to clean data

In [ ]:
df=pd.read_csv('/content/loan (1).csv')

In [ ]:
df.head()

,ID,year,loan_limit,Gender,loan_type,loan_purpose,business_or_commercial,loan_amount,rate_of_interest,Upfront_charges,property_value,occupancy_type,income,credit_type,Credit_Score,co-applicant_credit_type,age,LTV,Region,Status
0,24890,2019,cf,Sex Not Available,type1,p1,nob/c,116500,NaN,NaN,118000.0,pr,1740.0,EXP,758,CIB,25-34,98.728814,south,1
1,24891,2019,cf,Male,type2,p1,b/c,206500,NaN,NaN,NaN,pr,4980.0,EQUI,552,EXP,55-64,NaN,North,1
2,24892,2019,cf,Male,type1,p1,nob/c,406500,4.56,595.0,508000.0,pr,9480.0,EXP,834,CIB,35-44,80.019685,south,0
3,24893,2019,cf,Male,type1,p4,nob/c,456500,4.25,NaN,658000.0,pr,11880.0,EXP,587,CIB,45-54,69.376900,North,0
4,24894,2019,cf,Joint,type1,p1,nob/c,696500,4.00,0.0,758000.0,pr,10440.0,CRIF,602,EXP,25-34,91.886544,North,0

In [ ]:
''' Do it as a case study
Clean the data'''

' Do it as a case study \nClean the data'

#Date Time

In [ ]:
df=pd.read_csv('/content/pfizer_tidy.csv')

In [ ]:
df.head()

,Drug_Name,Pressure,Temperature,Temperature_avg,Pressure_avg,timestamp,date
0,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,2020-10-15 10:30:00,2020-10-15 10:30:00
1,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,2020-10-15 11:30:00,2020-10-15 11:30:00
2,diltiazem hydrochloride,20.0,21.0,24.848485,15.424242,2020-10-15 12:30:00,2020-10-15 12:30:00
3,diltiazem hydrochloride,12.0,23.0,24.848485,15.424242,2020-10-15 01:30:00,2020-10-15 01:30:00
4,diltiazem hydrochloride,13.0,22.0,24.848485,15.424242,2020-10-15 02:30:00,2020-10-15 02:30:00

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Drug_Name        108 non-null    object
 1   Pressure         108 non-null    float64
 2   Temperature      108 non-null    float64
 3   Temperature_avg  108 non-null    float64
 4   Pressure_avg     108 non-null    float64
 5   timestamp        108 non-null    object
dtypes: float64(4), object(2)
memory usage: 5.2+ KB

In [ ]:
df['date']=pd.to_datetime(df['timestamp'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Drug_Name        108 non-null    object
 1   Pressure         108 non-null    float64
 2   Temperature      108 non-null    float64
 3   Temperature_avg  108 non-null    float64
 4   Pressure_avg     108 non-null    float64
 5   timestamp        108 non-null    object
 6   date             108 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 6.0+ KB

In [ ]:
df['date'].dt.year.mode()

0    2020
Name: date, dtype: int32

In [ ]:
df['date'].dt.month

0      10
1      10
2      10
3      10
4      10
       ..
103    10
104    10
105    10
106    10
107    10
Name: date, Length: 108, dtype: int32